body{
  width: 100%;
}
.menu{
  height: 350px;
  background: #FAEC59;

}
.c1{
  height: 100px;
  background: #3D83F5;
  margin-bottom: 5px;

}
.c2{
  height: 100px;
  background: #3D83F5;
  margin-bottom: 5px;

}
.c3{
  height: 100px;
  background: #3D83F5;
  margin-bottom: 5px;

}
